{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/post-list.css' %}"/>
{% endblock %}

{% block search %}
<form class="navbar-form navbar-left" method="GET" action="">
  {% csrf_token %}
    <div class="input-group search-field">
      <span class="input-group-addon search-icon">
        <i class="glyphicon glyphicon-search"></i>
      </span>
      <input class="form-control" type="text" name="q" placeholder="" value="{{ request.GET.q }}" />
    </div>
</form>
{% endblock %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2">
{% for object in object_list %}
  <div class="row">
    <div class="col-sm-12">
      <div class="thumbnail thumbnail-post">
        {% if object.image %}
        <img src='{{ object.image.url }}' class='img-responsive' />
        {% endif %}
        <div class="caption post-detail-item">
          {% if object.draft %}<h3 style="color:red;">Draft</h3>{% endif %}
          {% if object.publish > today %}<h3 style="color:red;">Future Post</h3>{% endif %}
          <h3>
            <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a>
            <small>{{ object.publish }}</small>
          </h3>
          {% if object.user.get_full_name %}
          <p class="post-author">Author: {{ object.user.get_full_name }} </p>
          {% endif %}
          {{ object.get_markdown|truncatechars_html:120  }}
          <a href="{{ object.get_absolute_url }}" role="button"></a>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endfor %}

  <center>
    <div class="pagination">
      <span class="step-links">
        <nav>
          <ul class="pagination">
            {% if object_list.has_previous %}
              <li><a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% else %}
              <li class="disabled"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}
            <li class="disabled"><a>{{ object_list.number }} of {{ object_list.paginator.num_pages }} <span class="sr-only">(current)</span></a></li>
            {% if object_list.has_next %}
              <li><a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            {% else %}
              <li class="disabled"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            {% endif %}
          </ul>
        </nav>
      </span>
    </div>
  </center>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/post-list.js' %}"></script>
{% endblock %}