@font-face {
  font-family: 'Cardo-Bold';
  src: url('../fonts/Cardo-Bold.ttf');
  src: local('../fonts/Cardo-Bold.ttf');
}

@font-face {
  font-family: 'Cardo-Regular';
  src: url('../fonts/Cardo-Regular.ttf');
  src: local('../fonts/Cardo-Regular.ttf');
}

@font-face {
  font-family: 'JosefinSans-Bold';
  src: url('../fonts/JosefinSans-Bold.ttf');
  src: local('../fonts/JosefinSans-Bold.ttf');
}

@font-face {
  font-family: 'JosefinSans-Regular';
  src: url('../fonts/JosefinSans-Regular.ttf');
  src: local('../fonts/JosefinSans-Regular.ttf');
}

h1, h2, h3, h4, h5 {
    font-family: Cardo-Bold;
}

p {
    font-family: JosefinSans-Bold;
}

body {
    background-image: url("../images/random_grey_variations.png");
}



.navbar {
    border: None;
}

.navbar-container {
    background-color: white;
}

.navbar-right-items {
    height: 50px;
    padding: 15px 15px;
    line-height: 20px;
    font-size: 18px;
    font-family: Cardo-Bold;
}



.text-logo {
    font-family: Cardo-Bold;
}



.post-author {
    font-size: 16px;
}

.post-container {
    background: transparent;
}
