

.navbar-form {
    width: 100%;
}

.navbar .navbar-collapse {
    text-align: center;
}



.search-icon {
    background-color: #FFF;
}

.search-field input {
    border-left-style: none;
    text-align: center;
}



.thumbnail-post:hover {
    cursor: pointer;
}
